includes=**/src/main/g8/**
maven.ignoredScopes=test
maven.resolveDependencies=true
#maven.ignoreSourceFiles=true
#maven.aggregateModules=true
maven.ignorePomModules=false
maven.runPreStep=false
#maven.ignoreMvnTreeErrors=true
#maven.environmentPath=
#maven.m2RepositoryPath=
maven.downloadMissingDependencies=false
#maven.additionalArguments=-Dtycho.debug.resolver=true -X && ls -l
#maven.projectNameFromDependencyFile=true	
